@import url("../layouts/header.css");

.blog_title {
  text-align: center;
}

.blog_navigation {
  display: flex;
  padding: 32px 24px;
  justify-content: space-evenly;
}

.navigation_link {
  border-bottom: 2px solid transparent;
  color: black;
  font-size: 18px;
  padding-bottom: 1px;
  text-decoration: none;
  transition: all 2ms;
}

.navigation_link:hover {
  border-bottom: 2px solid black;
  color: rgb(0, 0, 0, 0.7);
}

.article_title {
  text-align: center;
}

.article_info {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info_image {
  height: 120px;
  width: 120px;
}

.info_description {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 400;
}

.article_content {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 20px 0;
}

.content_paragraph {
  font-family: var(--font-inter);
  text-align: justify;
}

aside {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 20px 0;
}

.date_post {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}

.author_post {
  align-items: center;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.author_image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.author_description {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
