@import url("../layouts/header.css");

.glossary_title {
  text-align: center;
}

.description_list {
  display: flex;
  flex-direction: column;
}

.description_item {
  border-bottom: 1px solid grey;
  padding: 12px 0;
}

dd {
  text-align: justify;
}
