@import url("../layouts/header.css");

.quiz_title {
  text-align: center;
}

.list_questions {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.question {
  display: flex;
  flex-direction: column;
}

.question_text {
  margin-bottom: 8px;
}

.answer {
  align-items: center;
  display: flex;
  gap: 8px;
}

.answer_selected {
  height: 16px;
  width: 16px;
}

.answer_text {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

button {
  background: var(--bg-link);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  padding: 16px 0;
  width: 100px;
}

button:hover {
  background: var(--hover-bg-link);
  color: var(--color-white);
}
