<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/main.css" />
    <link rel="stylesheet" href="../public/styles/pages/glossary.css" />
    <title>Glossary</title>
  </head>
  <body>
    <header  class="header">
      <nav class="nav">
        <div class="arrow">
          <a class="arrow_link" href="./blog.html">
            <img
              class="arrow_link-icon"
              src="../public/assets/arrow-back-circle-outline.svg"
              alt="icon arrow left"
            />
          </a>
          <p class="arrow_text">Back</p>
        </div>
        <div class="logo">
          <a class="logo_link" href="../index.html">
            <img
              class="logo_link-icon"
              src="../public/assets/logo-black.svg"
              alt="Logo HTML5"
            />
          </a>
          <p class="logo_text">HTML</p>
        </div>
        <div class="arrow">
          <p class="arrow_text">Next</p>
          <a class="arrow_link" href="./form.html">
            <img
              class="arrow_link-icon"
              src="../public/assets/arrow-forward-circle-outline.svg"
              alt="icon arrow right"
            />
          </a>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1 class="glossary_title">Glossary</h1>
      <dl class="description_list">
          <div class="description_item">
            <dt><strong>!DOCTYPE html</strong></dt>
            <dd>A tag !DOCTYPE html define a versão do HTML que está sendo usada na página web, permitindo ao navegador interpretar corretamente o código HTML.</dd>        
          </div>
          <div class="description_item">
            <dt><strong>html</strong></dt>
            <dd>A tag <html> define o início e o fim do documento HTML, envolvendo todo o conteúdo da página web.</dd>
          </div>
          <div class="description_item">
            <dt><strong>head</strong></dt>
            <dd>A tag <head> contém informações sobre o documento HTML, como metadados, scripts e links para estilos, mas não é exibida na página web.</dd>
          </div>
          <div class="description_item">
            <dt><strong>body</strong></dt>
            <dd>A tag <body> contém o conteúdo visível da página web, incluindo texto, imagens, links e outros elementos que são exibidos no navegador.</dd>            
          </div>
      </dl>
    </div>
  </body>
</html>
