@import url("./base/colors.css");
@import url("./base/typography.css");
@import url("./base/reset.css");

body {
  font-family: var(--font-poppins);
  height: 100vh;
  width: 100vw;
}

.container {
  margin: auto;
  padding: 24px 8px;
}

@media (min-width: 540px) {
  .container {
    max-width: 540px;
  }
}
